.Title {
  margin-top: 0;
  margin-bottom: 0;
}

.List {
  composes: Title;
  list-style: none;
  padding-left: 30px;
  margin-top: 15px;

  display: flex;
  justify-content: center;
}

.Item {
  composes: Title;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 4px;
}

.Item:not(:last-child) {
  margin-right: 15px;
}

.Label {
  composes: Title;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.Amount {
  composes: Title;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.Good {
  composes: Item;
  background-color: green;
}

.Neutral {
  composes: Item;
  background-color: gray;
}

.Bad {
  composes: Item;
  background-color: red;
}

.Total {
  composes: Item;
  background-color: blue;
}

.Positive__Percentage {
  composes: Item;
  background-color: gold;
}
